<% provide :title, "Home" %>
<div class="banner_section banner_section_three">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="banner_area">
          <div class="banner_thumb"><%= image_tag("bg/banner9")%></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="banner_area">
          <div class="banner_thumb"><%= image_tag("bg/banner9")%></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="banner_area bottom">
          <div class="banner_thumb"><%= image_tag("bg/banner9")%></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="section_title">
      <h2>Sản phẩm thịnh hành</h2>
      <p>Sản phẩm ấn tượng và bán chạy nhất</p>
    </div>
  </div>
</div>
