<%= render "left_bar" %>
<div id="page-wrapper">
  <div id="notice">
    <% unless notice.blank?
         render partial: "shared/notice_banner"
       end %>
</div>
  <div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2><%= t("admin.manage.title") %></h2>
        </div>
    </div>
    <hr />
  </div>
</div>
