<div class="col-md-4 col-sm-6 col-lg-3">
  <div class="single_product">
    <div class="product_thumb">
      <%= image_tag "product/product16", class: "secondary_img" %>
      <div class="quick_button">
        <%= link_to t("products.show.detail_product"), [product.category, product] %>
      </div>
      <div class="double_base">
        <div class="product_sale">
          <span></span>
        </div>
        <div class="label_product">
          <span></span>
        </div>
      </div>
    </div>
    <div class="product_content grid_content">
      <h3><%= product.name %></h3>
      <span class="current_price"><%= number_to_currency product.price %></span>
    </div>
  </div>
</div>
